body {
    margin: 0;
    padding: 0;
}

.header{
    background: url("../img/header.png");
    height: 959px;
    margin-top: 3em;
    margin-bottom: 4em;
}

.header-content {
    top: 0;
    width: 100%;
    /*height: 53px;*/
    z-index: 999;
    position: fixed;
    background-color: rgb(100, 140, 255);
}

@keyframes animation-nav-bar {
    from {background-color: #4466c9}
    to {background-color: #fff}
}
.header-content-scrolled {
    animation-name: animation-nav-bar;
    animation-duration: .75s;
    background-color: #fff;
}

.header-content-scrolled a {
    color: #000 !important;
}

.fun {
    color: #fc6a42;
}

.weather {
    color: #4466c9;
}

.header-phone img {
    height: 605px;
    z-index: 666;
    background-repeat: no-repeat;
    margin-top: 3%;
    margin-left: 55%;
    border-radius: 16px;
}

.header a {
    float: left;
    color: #FFFFFF;
    margin: 0 auto;
    /*text-align: center;*/
    padding: 14px;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
}

.header a.logo {
    font-size: 26px;
    font-weight: bold;
    margin-left: 12rem;
}

.header-center {
    display: flex;
    justify-content: center;
}

.header-center img {
    height: 18px !important;
}

.header a.active {
    background-color: #1976D2;
    color: white;
}

.header-text {
    font-size: 54px;
    font-weight: bold;
    color: #fff;
    margin-left: 14%;
    margin-top: -36%;
    position: relative;
}

.header-buttons {
    margin-left: 14%;
    margin-top: 8%;
}

.header-buttons button {
    color: #fff;
    border-radius: 4px;
    font-size: 1.1em;
    width: 5.5em;
    height: 2.3em;
    position: relative;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
}

.button-download {
    background-color: #fc6a42;
    border: 1px solid;
    border-color: #fc6a42;
    margin-right: 0.8em;
}
.button-download:hover {
    background-color: #fff;
    color: #fc6a42;
}

.button-features {
    background-color: #4466c9;
    border: 1px solid;
    border-color: #4466c9;
}

.button-features:hover {
    background-color: #fff;
    color: #4466c9;
}
/*SCREENSHOTS*/

.screen-item {
    margin-bottom: 185px;
    display: flex;
    align-items: center;
}
.screen-item .description {
    padding-right: 65px;
}
.screen-item .title {
    color: #4466c9;
    margin-bottom: 35px;
}
.screen-item .icon {
    width: 120px;
    height: 65px;
    margin-bottom: 45px;
}
.screen-item .icon img {
    object-fit: cover;
}
.screen-item .text {
    font-size: 1.4em;
    height: 150px;
    overflow: inherit;
    margin-bottom: 4em;
}

.screen-item.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.wrap-weathers {
    color: #c3cfe5;
}
.wrap-weathers .weather {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(180, 180, 180, 0.45);
}
.wrap-weathers .wet {
    z-index: 3;
}
.wrap-weathers .wet:after {
    content: "%";
}
.wrap-weathers .temp {
    z-index: 2;
    margin-left: -20px;
}
.wrap-weathers .temp:after {
    content: "°";
}
.wrap-weathers .state {
    z-index: 1;
    margin-left: -20px;
}
.screen-title {
    margin-bottom: 130px;
}
.screen-title .title {
    color: #4466c9;
    text-align: center;
}
.screen-title .sub-title {
    text-align: center;
    color: #999;
}
/**/
/*FEATURE*/
.feature {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.feature-container {
    margin-bottom: 45px;
}
.feature .title-box {
    color: #353854;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 0 30px;
}
.feature .text {
    color: #aeaeae;
    font-size: 1em;
}

.feature > * {
    width: 100%;
}
.icon-box {
    margin-right: 20px;
    flex-basis: 75px;
}
.icon-box img {
    width: 80px;
}
.wrap-title {
    margin-bottom: 95px;
}
.wrap-title .title {
    color: #4466c9;
    text-align: center;
}
.wrap-title .sub-title {
    text-align: center;
    color: #999;
}
/**/
@media (max-width: 1200px) {
    .header {
        background-position: center;
    }

    .header a.logo {
        margin-left: .5rem;
    }

    .header-text {
        font-size: 54px;
        font-weight: bold;
        color: #fff;
        margin-left: 6%;
        margin-top: 2%;
        position: absolute;
    }
}
/*SLIDER*/
.slider li {
    box-shadow: 0 0 50px #ced4da;
}
.slider ul {
    left: auto !important;
    top: auto !important;
    margin: 0 auto !important;
}
.slider .left {
    font-size: 50px;
    color: #c3cfe5;
    left: -100px !important;
}
.slider .right {
    font-size: 50px;
    color: #c3cfe5;
    right: -100px !important;
}
/**/
/*COMMENT*/
.comment {
    position: relative;
    padding: 100px 25px;
}
.comment .text {
    padding: 24px 0;
    font-size: 1.3em;
}
.comment:before {
    position: absolute;
    font-size: 8rem;
    color: #4466c9;
}
.comment:before {
    content: "“";
    top: 25px;
    left: 10px;
}
/**/
/*PRE FOOTER*/
.pre-footer {
    background-color: rgb(100, 140, 255);
    padding-top: 4rem;
    color: white;
}
.pre-footer .item-links {
    padding: 4rem 0;
}
.pre-footer .item-link {
    width: 195px;
    display: inline-block;
}
.pre-footer .title {
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: bold;
}
.pre-footer .text {
    font-size: 1.2em;
    width: 75%;
}
.footer-phones {
    position: relative;
}
.footer-phones img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
/**/
@media (max-width: 880px) {
    .header {
        background-position: center;
        padding: 0;
        margin: 0;
    }

    .header-content {
        position: relative;
    }

    .header-center {
        flex-direction: column;
        justify-content: center;
    }

    .header a {
        float: none;
        text-align: left;
        display: block;
    }

    .nav-tab {
        display: none !important;
    }
    .social {
        display: none !important;
    }

    .header-phone img {
        display: block;
        position: absolute;
        z-index: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 65%;
    }

    .header-buttons {
        margin-top: 18em;
    }

    .button-features {
        float: right;
        margin-right: 3em;
    }

    .button-download {
        float: left;
    }

    .header-buttons input {
        width: 6em;
        font-size: 1em;
    }
}
